.color{
    background-color: #3F51B5;
  }
.center{
        margin-top: 70px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

.panel-heading{
    background-color:#3F51B5
}

.btn{
    background-color:#3F51B5
}

.api{
    position: fixed;
    margin-bottom:-20%;
}
