<mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="my-form" [formGroup]="form" (ngSubmit)="login()">
        <table class="full-width" cellspacing="0">
          <tr>
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
                <input matInput placeholder="Email" type="email" name="email"  formControlName='email' required>
            </mat-form-field> 
          </tr>
          <tr>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" type="password" name="password" formControlName='password'  required>
            </mat-form-field>
        </tr>
      </table>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
  </mat-card>


<!--mat-card>
  <mat-card-content>
    <form class="my-form" [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" type="email" name="email" formControlName='email'>
      </mat-form-field>     
      <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" name="password" formControlName='password'>
        </mat-form-field>
        <mat-divider></mat-divider>  
    </form>
  </mat-card-content>
  <button mat-raised-button (click)="login()" color="primary">Login</button>
</mat-card>-->
<!-- Default form login -->
<!-- Material form login -->