thead{
    color: #3F51B5;
}

.center{
        position: absolute;
        top: 55%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
}

.panel-heading{
    background-color:#3F51B5
}

.btn{
    background-color:#3F51B5
}